{% for input_plugin in input_plugins %}
[[inputs.{{ input_plugin.name }}]]
{% for attribute_key, attribute_value in input_plugin.attributes.items() %}
  {{ attribute_key }} = {{ attribute_value | to_json }}
{% endfor %}

{% if 'metrics' in input_plugin %}
{% for metric in input_plugin.metrics %}
  [[inputs.{{ input_plugin.name }}.metric]]
{% for metric_key, metric_value in metric.items() %}
    {{ metric_key }} = {{ metric_value | to_json }}
{% endfor %}

{% endfor %}
{% endif %}
{% endfor %}

[[outputs.file]]
  files = ["/tmp/telegraf/telegraf.out"]
  rotation_interval = "5m"
  rotation_max_archives = 3
  data_format = "json"

[[outputs.influxdb]]
  urls = ["http://monitoring.example.test:8086"]
  database = "telegraf"
  skip_database_creation = false
  timeout = "5s"
  user_agent = "telegraf"