box_vm_name: BASE_BOX_VM_NAME
monitoring:
  hostname: MONITORING_VM_HOSTNAME
  cpus: MONITORING_VM_CPUS
  memory: MONITORING_VM_MEMORY
  ip: 192.169.56.102
application:
  hostname: APPLICATION_VM_HOSTNAME
  cpus: APPLICATION_VM_CPUS
  memory: APPLICATION_VM_MEMORY
  ip: 192.169.56.103
zookeeper:
  hostname: ZOOKEEPER_VM_HOSTNAME
  cpus: ZOOKEEPER_VM_CPUS
  memory: ZOOKEEPER_VM_MEMORY
  ip: 192.169.56.104