[SERVICE]
    Flush 5
    Daemon off
    Log_Level debug
    HTTP_Server  On
    HTTP_Listen  0.0.0.0
    HTTP_PORT    2020

[INPUT]
    Name cpu
    Tag my_cpu

[INPUT]
    Name tail
    Path /tmp/test_log/test.log
    Tag file
    DB /opt/fluent-bit/database/test.sqlite

[OUTPUT]
    Name kafka
    Match file
    Brokers kafka-1:9092,kafka-2:9092,kafka-3:9093
    Topics kafka_vector_topic

[OUTPUT]
    Name  null
    Match *
